{% extends "base.html" %}
{% block title %}Delete Account{% endblock %}
{% block content %}
<br>
<br>

<div class="container">
    <h2>Delete Account</h2>
    <p>Are you sure you want to delete your account? <br>
    This will delete all your links!</p>
    <form method="POST">

        
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" name="password" required>
        </div>

        <input class="btn btn-danger" type="submit" value="Delete" />
        <!--  -->
    </form>
</div>
{% endblock %}