{% extends "base.html" %}
{% block title %}
Edit Link
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    
    <form method="POST">
            <div class="mb-3">
                <label for="url" class="form-label">Long URL</label>
                <input type="text" class="form-control" id="url" aria-describedby="emailHelp" name="long_url" value="{{link.url}}" required>
            </div>

            <div class="mb-3">
                <label for="basic-url" class="form-label">Short URL</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://l.eltech.sd/</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" name="token" value="{{link.token}}" required>
                    <script>
                        const inputElement = document.getElementById('basic-url');
                        inputElement.addEventListener('input', function() {
                        const inputValue = inputElement.value;
                        const replacedValue = inputValue.replace(/ /g, '-');
                        inputElement.value = replacedValue;
                        });
                        inputElement.addEventListener('input', function() {
                            const inputValue = inputElement.value;
                            const replacedValue = inputValue.replace(/[/*@?]/g, '-');
                            inputElement.value = replacedValue;
                            });
                    </script>
                </div>
                <div class="form-text" id="basic-addon4">Short Url</div>
            </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
    
</form>
<br>
<br>
<form method="POST" action="{{url_for('delete.link' , token=link.token)}}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

</div>

{% endblock %}