{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}

{% block content %}

<br>
<h2>Reset Password</h2>
<br>
<div class="container">
    
    <form method="POST">
        <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>
    
    <button type="submit" class="btn btn-primary">Send reset email</button>
    
</form>

</div>

{% endblock %}