{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
        <br>
        <h1 class="h11 SS">ELTECH</h1>
        {% if current_user.is_authenticated %}
        <p class="lead h11">Welcome to our website, {{ current_user.name }}!</p>
        {% else %}
        <p class="lead h11">Welcome to our website!</p>
        {% endif %}
        <style>
            .h11{
                padding-left: 100px;
            }
            .SS{
                color: #cd18d3;
            }
        </style>
        
    
{% endblock %}
