{% extends "base.html" %}
{% block title %}
Log in
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h2>Log in</h2>
    <br>
    <form method="POST">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" aria-describedby="pass" required>
        <div id="pass" class="form-text"><a href="{{url_for('reset_password.request_to_reset_password')}}">Forget Password</a></div>
    </div>

    
    <button type="submit" class="btn btn-primary">Log in</button>
    
</form>

</div>
{% endblock %}