{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
    
    <form method="POST">
    
    <div class="mb-3">
        <label for="pass1" class="form-label">Password</label>
        <input type="password" class="form-control" id="pass1" name="password">
    </div>
    
    
    <div class="mb-3">
        <label for="pass2" class="form-label">Retype Password</label>
        <input type="password" class="form-control" id="pass2" name="repassword">
    </div>
    
    <button type="submit" class="btn btn-primary">Update password</button>
    
</form>

</div>

{% endblock %}